@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header {
    display:flex;
    border:1px solid black;
    justify-content: space-between;
}

.logo{
    width:200px;
}
.nav-items>ul {
    display: flex;
    
    list-style-type: none;
    font-size: 24px;
 
margin-right:12px;
}
.nav-items>ul>li {
    padding:10px;
    margin:10px;

}
.res-card{
    width:200px;
  
    padding:5px;
    margin:5px;
}
.res-card:hover{
    border:1px solid black;
    cursor:pointer
}
.search{
    padding:10px;
}
.res-logo{
    width:100%;
    height:33%;

}
/* .res-card h3  {
margin:4px ;
} */
 /* .res-card h4{
    word-wrap: break-word;
 }
.res-container{
    display:flex;
    flex-wrap: wrap;
}
.filter-btn{
    margin:10px;
    cursor: pointer;
}

.shimmer-card {
    width:200px;
    height:400px;
    margin:20px;
    background-color: #f0f0f0;
    
}

.shimmer-container {
display: flex;
flex-wrap: wrap;
}
.login{
    padding:0px 20px;
    cursor:pointer;
   
}
.filter{
    display: flex;
}

.user-card {
    padding:10px;
    border:1px solid black
} */ 